.article-time-link,
.article-category-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #999;
  margin-bottom: 1em;
  line-height: 1em;
}
/* style */
.outer {
  width: 90%;
  margin: 0 auto;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
#container {
  position: relative;
}
#main {
  float: left;
  width: 100%;
}
/* style END */
/* Article */
.article {
  padding-bottom: 80px;
}
.article-meta {
  margin-bottom: 20px;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-meta-title,
.article-event-title {
  font-size: 0.8em;
  text-transform: none;
  color: #555;
}
.article-time {
  float: left;
  width: 100%;
  padding-bottom: 5px;
}
.article-time-link,
.article-category-link {
  color: #222;
  font-size: 0.8em;
}
.article-title {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  color: #222;
  line-height: 1.1em;
  transition: color 0.2s;
}
/* Article END */
/* Header */
#header {
  position: relative;
  font-weight: bold;
  border-bottom: 1px solid #999;
  margin-bottom: 100px;
  background: #000;
}
#mug {
  background: #000 url("/img/mug10.jpg") 50% 50% no-repeat;
  background-size: 100% 100%;
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 50%;
  border: 10px solid #fff;
  position: absolute;
  left: 50%;
  margin-left: -110px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 12px 0 #999;
  animation: fadein 0.3s;
}
#header-grad {
  background: linear-gradient(to right, rgba(0,255,255,0.9), rgba(140,0,255,0.9)), url("/img/header.jpg") right 50% no-repeat;
  width: 100%;
  height: 160px;
}
#header-outer {
  position: relative;
  padding: 14px 4%;
  border-bottom: 2px solid #333;
  max-width: 1000px;
  margin: 0 auto;
}
#header-outer:before,
#header-outer:after {
  content: "";
  display: table;
}
#header-outer:after {
  clear: both;
}
.header-logo-wrap {
  text-align: center;
}
.header-link {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  color: #0ff;
  transition: all 0.2s;
}
.header-link:hover {
  text-decoration: none;
}
.header-title {
  font-size: 1.4em;
  display: block;
  margin-bottom: 5px;
}
#subtitle-wrap {
  margin-top: 5px;
  margin-bottom: 16px;
}
.main-nav-wrap {
  float: right;
  width: 100%;
}
#main-nav {
  text-align: center;
}
.main-nav-link {
  color: #f0f;
  transition: all 0.2s;
  text-decoration: none;
  display: inline-block;
  font-weight: 300;
  margin: 3px;
  font-size: 1em;
  padding: 10px 4px;
}
.main-nav-link:hover {
  text-decoration: none;
}
/* Header END */
