html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*a:focus
  border-radius: 3px
  box-shadow: 0 0 10px color-link

#header,
#footer
  a:focus
    border-radius: 3px
    box-shadow: 0 0 10px color-blue*/
html,
body,
#container {
  height: 100%;
}
body {
  background: #fefefe;
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-break: break-word;
  overflow-x: hidden;
/**
   * Breaks scroll bar in IE7
   * overflow-x: hidden
   */
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
.archive-year {
  text-decoration: none;
  text-transform: uppercase;
  color: #999;
  margin-bottom: 1em;
  line-height: 1em;
}
#main h1 {
  font-size: 2em;
}
#main h2 {
  font-size: 1.5em;
}
#main h3 {
  font-size: 1.3em;
}
#main h4 {
  font-size: 1.2em;
}
#main h5 {
  font-size: 1em;
}
#main h6 {
  font-size: 1em;
  color: #999;
}
#main hr {
  border: 1px dashed #999;
}
#main strong {
  font-weight: bold;
}
#main em,
#main cite {
  font-style: italic;
}
#main sup,
#main sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#main sup {
  top: -0.5em;
}
#main sub {
  bottom: -0.2em;
}
#main small {
  font-size: 0.85em;
}
#main acronym,
#main abbr {
  border-bottom: 1px dotted;
}
#main ul,
#main ol,
#main dl {
  margin: 0 20px;
  line-height: 1.6em;
}
#main ul ul,
#main ol ul,
#main ul ol,
#main ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
#main ul {
  list-style: disc;
}
#main ol {
  list-style: decimal;
}
#main dt {
  font-weight: bold;
}
/*@import "_partial/header"*/
.article-link,
.article-more-link a,
.article-inner p a,
#main a,
.item-wrap .item,
#article-nav a,
.twitter-tweet a,
.thumbnail-wrap a,
.twitter-share-link a {
  color: #222;
  text-decoration: none;
  border-bottom: 1px solid #8c00ff;
}
.article-link:hover,
.article-more-link a:hover,
.article-inner p a:hover,
#main a:hover,
.item-wrap .item:hover,
#article-nav a:hover,
.twitter-tweet a:hover,
.thumbnail-wrap a:hover,
.twitter-share-link a:hover {
  color: #8c00ff;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  color: #222;
}
.cta {
  display: inline-block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border: 1px solid #8c00ff;
}
#main {
  color: #333;
  padding: 0;
}
#main:before,
#main:after {
  content: "";
  display: table;
}
#main:after {
  clear: both;
}
#main p,
#main table {
  line-height: 1.6em;
  margin: 1em 0;
}
#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  font-weight: bold;
}
#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  line-height: 1.1em;
  margin: 1.1em 0;
}
#main ul,
#main ol,
#main dl {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  list-style-position: inside;
}
#main img,
#main video {
  max-width: 98%;
  margin: 0 auto 10px;
  height: auto;
  box-sizing: border-box;
  border: 0.5em solid #fff;
  border-radius: 0.3em;
  box-shadow: 0 0 10px 0 #999;
  display: block;
}
#main .img-header img {
  max-width: 100%;
  margin: 0;
  box-shadow: none;
}
#main iframe {
  border: none;
}
#main table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
#main th {
  font-weight: bold;
  border-bottom: 3px solid #999;
  padding-bottom: 0.5em;
}
#main td {
  border-bottom: 1px solid #999;
  padding: 10px 0;
}
#main blockquote {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.4em;
  margin: 1.6em 20px;
  text-align: center;
}
#main blockquote footer {
  font-size: 18px;
  margin: 1.6em 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#main blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
#main .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
#main .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
#main .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
#main .caption {
  color: #999;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
#main .iframe-wrap {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
#main .iframe-wrap iframe,
#main .iframe-wrap object,
#main .iframe-wrap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
#main .item-wrap {
  float: left;
  width: 100%;
  margin-bottom: 80px;
}
#main .item-wrap .item {
  text-align: center;
  float: left;
  width: 33.33%;
}
#main .item-wrap .item img {
  border: 0;
  box-shadow: none;
  max-width: 190px;
  width: 90%;
}
#main .item-wrap .title {
  min-height: 50px;
}
#main .thumbnail-wrap {
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
#main .thumbnail-wrap .thumbnail {
  float: left;
  padding-bottom: 8px;
  margin-bottom: 50px;
}
#main .thumbnail-wrap img {
  margin-left: 8px;
  margin-right: 8px;
}
.article-more-link a {
  text-decoration: none;
}
#article-nav {
  position: relative;
  margin-top: 50px;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
#article-nav a {
  float: left;
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
}
.article-nav-link-wrap {
  text-decoration: none;
  color: #222;
  box-sizing: border-box;
  display: block;
}
.article-nav-caption {
  font-size: 0.8em;
  color: #555;
}
.article-nav-title {
  font-size: 0.8em;
  text-transform: uppercase;
}
.twitter-share-link {
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}
.twitter-share-link a {
  display: block;
}
.archives {
  margin-bottom: 80px;
}
.archive-article {
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.archive-article-date {
  color: #999;
  text-decoration: none;
  font-size: 0.7em;
  float: left;
  width: 80px;
}
.archive-article-title {
  text-decoration: none;
  color: #333;
}
.archive-article-title:hover {
  color: #222;
}
.archive-article-footer {
  margin-top: 1em;
}
#page-nav {
  margin: 50px auto;
  text-align: center;
  color: #222;
  overflow: hidden;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  padding: 10px 14px;
  margin-left: 4px;
  margin-right: 4px;
  line-height: 1;
  height: 2ex;
}
#page-nav a {
  color: #222;
  text-decoration: none;
  border-bottom: 1px solid #8c00ff;
}
#page-nav a:hover {
  color: #8c00ff;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
#page-nav .current {
  color: #222;
}
#page-nav .space {
  color: #222;
}
#footer {
  background: #000;
  border-top: 1px solid #999;
  color: #999;
  text-align: center;
}
#footer a {
  color: #f0f;
  transition: all 0.2s;
  text-decoration: none;
}
#footer a:hover {
  color: #f0f;
  text-decoration: none;
}
#footer-grad {
  background: linear-gradient(to right, rgba(0,255,255,0.9), rgba(140,0,255,0.9));
  width: 100%;
  height: 30px;
}
#footer-info {
  color: #0ff;
  line-height: 1.6em;
  font-size: 1.4em;
  padding: 50px 0;
}
.article-entry pre,
.article-entry .highlight,
.article-inner pre,
.article-inner .highlight {
  background: #2d2d2d;
  margin: 0 -80px;
  padding: 15px 80px;
  border-style: solid;
  border-color: #999;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 28.8px;
}
.article-entry .highlight .gutter pre,
.article-inner .highlight .gutter pre {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", monospace;
}
.article-entry code {
  background: #fefefe;
  padding: 0 0.3em;
}
.article-entry pre code {
  background: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 28.8px;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
.article-inner pre,
.article-inner code {
  font-family: "Source Code Pro", monospace;
}
.article-inner code {
  background: #fefefe;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.article-inner pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-inner .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-inner .highlight table {
  margin: 0;
  width: auto;
}
.article-inner .highlight td {
  border: none;
  padding: 0;
}
.article-inner .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-inner .highlight figcaption:before,
.article-inner .highlight figcaption:after {
  content: "";
  display: table;
}
.article-inner .highlight figcaption:after {
  clear: both;
}
.article-inner .highlight figcaption a {
  float: right;
}
.article-inner .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
